@model Usuario

<h1>ALERTA!</h1>
<H2>Tem certeza que deseja excluir o usuário @Model.Nome (@Model.Login)?</H2>

<hr>
<p style="color:red"> A exclusão é   I R R E V E R S Í V E L</p>
<hr>

<form  action="/Usuarios/ExcluirUsuario" method="post">
    <input type="hidden" name="id" value="@Model.Id">


    <input type="submit" name="decisao" value="CANCELAR" class="btn btn-primary"/>  
    <input type="submit" name="decisao" value="EXCLUIR" class="btn btn-danger"/> 

</form>